{% extends '::base.html.twig' %}

{% block title %}
  {{parent()}} -- Accueil
{% endblock %}

{% block body %}
  <div class="alert alert-info">Le site est en cours de construction !</div>
{% endblock %}
